# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time
# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
#Reading csv file
City_weather=pd.read_csv("output_data/cities.csv")
City_weather.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Okhotsk,100,RU,1580009194,72,59.38,143.30,-11.83,15.93
1,1,Xining,0,CN,1580009502,45,36.62,101.77,18.23,5.37
2,2,Aksay,100,RU,1580009503,80,47.26,39.87,35.60,11.18
3,3,Ust'-Karsk,0,RU,1580009504,78,52.70,118.81,8.02,1.79
4,4,Bluff,57,NZ,1580009157,52,-46.60,168.33,66.49,8.52

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
#Configuring gmpas
gmaps.configure(api_key=g_key)

fig = gmaps.figure()

#getting locations
locations=City_weather[['Lat','Lng']].astype(float)

#Getting Humidity data
Humidity=City_weather['Humidity'].astype(float)
#Creating Heat Map
heat_layer = gmaps.heatmap_layer(locations, weights=Humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)
#Adding heat maps
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
#Getting Perfect contion cities
City_weather_df=City_weather[(City_weather["Cloudiness"]==0)& (City_weather["Wind Speed"]<10) & ((City_weather["Max Temp"]<80) & (City_weather["Max Temp"]>70))]
#Dropping nan records
City_weather_df.dropna()
City_weather_df.reset_index(drop=True)

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,69,Arraial do Cabo,0,BR,1580009531,82,-22.97,-42.03,75.16,6.76
1,145,Farafangana,0,MG,1580009676,56,-22.82,47.83,77.47,6.46
2,194,San Rafael,0,AR,1580009589,28,-34.62,-68.33,77.09,2.57
3,235,Rio Cuarto,0,AR,1580009565,57,-33.13,-64.35,75.20,5.82
4,469,Ilebo,0,CD,1580010073,83,-4.32,20.58,70.81,1.30
5,499,High Rock,0,BS,1580010110,64,26.62,-78.28,70.25,9.40

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
#Base URL for Google Places
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
hotel=[]
#looping to get the first hotel of cities
for index, row in locations.iterrows():
    params = {
       "location": f"{row['Lat']},{row['Lng']}",
        "radius":"5000",
       "type": "restaurant",
       "key": g_key,
   }
    response = requests.get(base_url, params=params).json()
    #saving them in hotel List
    try:
        hotel.append((response['results'][0]['name']))
    #If no hotel found, save no hotel in the output    
    except (KeyError, IndexError):
        hotel.append("No Hotel")

In [ ]:
#Creating Data Frame with hotel Names
hotel_df=pd.DataFrame({"Hotel Name":hotel})

hotel_df[["City","Country","Lat","Lng"]]=City_weather[["City","Country","Lat","Lng"]]
hotel_df

In [ ]:
narrowed_city_df=hotel_df[hotel_df['City'].isin(City_weather_df['City'])]  
narrowed_city_df

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = narrowed_city_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Display Map

fig